<ul>
    <% for (var i in tips) { %>
        <% var tip = tips[i]; %>

        <% var tipAuthorId = tip.AuthorId; %>

        <% var accepted = tip.accepted; %>
        <% var isAdmin = session.user && session.user.isAdmin; %>
        <% var isQuizAuthor = session.user && quizAuthorId && quizAuthorId === session.user.id; %>
        <% var isTipAuthor = session.user && tipAuthorId && tipAuthorId === session.user.id; %>

        <% if (accepted || isAdmin || isQuizAuthor) { %>

            <li>
                <%= tip.text %>

                <span id="autor"><%= quiz.Tips[i].Author ? quiz.Tips[i].Author.username : "Anómino" %></span>

                <% if (!accepted && (isAdmin || isQuizAuthor)) { %>

                      <a href="/quizzes/<%= quizId %>/tips/<%= tip.id %>/accept?_method=PUT">
                          <button>Aceptar</button>
                      </a>

                <% } %>

                <% if (isAdmin || isQuizAuthor || isTipAuthor) { %>

                      <a href="/quizzes/<%= quizId %>/tips/<%= tip.id %>?_method=DELETE">
                           <button>Borrar</button>
                      </a>

                <% } %>
             </li>
         <% } %>

    <% } %>
</ul>